html,
body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: sans-serif;
  text-align: center;
}

.list-container {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: scroll;
  z-index: 1;
}

.list {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.list-hide {
  transition: transform 1s ease;
  transform: translateX(-100vh);
}

.sun {
  position: fixed;
  display: flex;
  border-radius: 2000px;
  height: 200px;
  width: 200px;
  z-index: 0;
  top: 20px;
  left: 20px;
  background-color: #ffec71;

  transition: transform 1s ease;
 
}

.sun-win {
  height: 3000px;
  width: 3000px;
  transform: translate(-1500px, -1500px);
  transition: all 3s ease;
}

.small {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: #ffdf00;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 50px;
}

.switch-wrapper {
  width: 100%;
}

.switch {
  box-shadow: in;
  height: 100px;
  z-index: 1;
  border-radius: 100px;
  border-width: 4px;
  position: relative;
  border-style: solid;
  margin: 32px;
}

.switch-off {
  background-color: rgb(233, 233, 233);
  border-color: rgb(255, 255, 255);
}
.switch-on {
  background-color: rgb(255, 230, 0);
  border-color: rgb(228, 205, 0);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.23);
  z-index: 2;
  border-radius: 100px;
  left: 0;
  position: absolute;
  transition-property: left background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

button {
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: transparent;
  border: none;
  text-align: center;
  border-radius: 100px;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.on {
  left: calc(100% - 100px);
  background-color: rgb(255, 230, 0);
  transition-property: left background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.success-wrapper{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.success {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
  top: 0;
  flex-direction: column-reverse;
}

.success-on {
  display: flex;
}

.success-off{
  display: none;
}

.single-success {
  display: flex;
  flex-direction: column-reverse;
  z-index: 9;
  font-size: 64px;
}

.anim-num-1 {
  transform: translateY(10px);
  font-size: 32px;
}

.anim-num-2 {
  transform: translateY(300px);
}

.anim-num-3 {
  transform: translateY(50px);
}

.anim-num-4 {
  transform: translateY(400px);
  font-size: 32px;
}

.anim-num-5 {
  transform: translateY(10px);
  font-size: 32px;
}

.anim-num-6 {
  transform: translateY(300px);
}

.anim-num-7 {
  transform: translateY(50px);
}

.anim-num-8 {
  transform: translateY(400px);
  font-size: 32px;
}

.anim-num-9 {
  transform: translateY(400px);
}

.anim-num-0 {
  transform: translateY(0px);
}


.run-anim {
  opacity: 0;
  position: relative;
  transition: transform 6s ease, opacity 2.7s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transform: translateY(-90vh);
}

.win {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  flex-direction: column;
  justify-content: space-around;
}

.win button {
  margin: auto;
  height: auto;
  width: auto;
  padding: 16px 64px;
  background-color: #0070fa;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.23);
  color: white;
}

.win-hide {
  display: none;
}


